<a href="https://colab.research.google.com/github/ChintzRuparel/Machine-Learning-College/blob/main/exp2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
import pandas as pd
data = pd.read_csv("bmw1.csv")
size = data.size
shape = data.shape
df_ndim = data.ndim
series_ndim = data["model"].ndim
print("Size = {}\nShape ={}\nShape[0] x Shape[1] = {}".
format(size, shape, shape[0]*shape[1]))
print("ndim of dataframe = {}\nndim of series ={}".
format(df_ndim, series_ndim))

Size = 96966
Shape =(10774, 9)
Shape[0] x Shape[1] = 96966
ndim of dataframe = 2
ndim of series =1

In [11]:
data.isnull().sum()

model           0
year            0
price           0
transmission    1
mileage         2
fuelType        0
tax             1
mpg             0
engineSize      0
dtype: int64

In [12]:
data=data.dropna(axis=1)
data.isnull().sum()

model         0
year          0
price         0
fuelType      0
mpg           0
engineSize    0
dtype: int64

In [13]:
data.head(10)

      model  year  price fuelType    mpg  engineSize
0  5 Series  2014  11200   Diesel   57.6         2.0
1  6 Series  2018  27000   Petrol   42.8         2.0
2  5 Series  2016  16000   Diesel   51.4         3.0
3  1 Series  2017  12750   Diesel   72.4         1.5
4  1 Series  2017  11800   Diesel   68.9         2.0
5        X3  2016  15500   Diesel   54.3         2.0
6  2 Series  2015  10500   Diesel   68.9         2.0
7        X3  2017  22000   Diesel   54.3         2.0
8  3 Series  2017  16500   Diesel   58.9         2.0
9  3 Series  2017  14250    Other  148.7         2.0

In [14]:
data.tail(5)

          model  year  price fuelType   mpg  engineSize
10769        X3  2016  19000   Diesel  54.3         2.0
10770  5 Series  2016  14600   Diesel  60.1         2.0
10771  3 Series  2017  13100   Petrol  42.8         2.0
10772  1 Series  2014   9930   Diesel  64.2         2.0
10773        X1  2017  15981   Diesel  57.6         2.0